PB_APP_ENV=production
PB_APPLY_SETTINGS_FROM_ENV=true
PB_ENCRYPTION_KEY=change-me-dev-only-32-byte-key-0000
PB_META_APP_NAME=PocketBase Runtime Kit
PB_META_APP_URL=http://localhost:8090
PB_META_HIDE_CONTROLS=true
PB_STORAGE_S3_ENABLED=false
PB_BACKUPS_S3_ENABLED=false
